<a href="https://colab.research.google.com/github/MonaYounisGIS/AI_Tasks/blob/main/Alcohol_Consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import requests
import io

drinks_url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
df = pd.read_csv(io.StringIO(requests.get(drinks_url).content.decode()))

In [20]:
# Display the shape and a sample of the data in the DataFrame 'df'
print(df.shape)
print(df.head())

(193, 6)
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0        AS
1                           4.9        EU
2                           0.7        AF
3                          12.4        EU
4                           5.9        AF

In [28]:
# Group the data by continent and calculate the average beer consumption
df_grouped = df.groupby("continent")["beer_servings"].mean().reset_index()

In [29]:
# Find the continent with the highest average beer consumption
max_beer_continent = df_grouped.loc[df_grouped["beer_servings"].idxmax(), "continent"]

In [30]:
print(f"The continent that drinks more beer on average is: {max_beer_continent}")

The continent that drinks more beer on average is: EU

In [32]:
# Group the data by continent and calculate the statistics for wine consumption
wine_stats = df.groupby("continent")["wine_servings"].describe()

# Display the statistics for wine consumption for each continent
print(wine_stats)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [33]:
# Group the data by continent and calculate the mean for each column
mean_alcohol_consumption = df.groupby("continent").mean()

# Display the mean alcohol consumption for every column for each continent
print(mean_alcohol_consumption)

           beer_servings  spirit_servings  wine_servings  \
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

<ipython-input-33-13965cb75188>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_alcohol_consumption = df.groupby("continent").mean()

In [34]:

# Group the data by continent and calculate the mean, min, and max for spirit consumption
spirit_stats = df.groupby("continent")["spirit_servings"].agg(['mean', 'min', 'max'])

# Display the mean, min, and max values for spirit consumption for each continent
print(spirit_stats)

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302