<a href="https://colab.research.google.com/github/MonaYounisGIS/AI_Tasks/blob/main/Occupation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
user_url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

# Read the dataset into a DataFrame
user_df = pd.read_csv(user_url, delimiter='|', header=None, names=['user_id', 'age', 'gender', 'occupation', 'zip_code'])

# Display the first few rows of the DataFrame
print(user_df.head())

   user_id  age  gender  occupation  zip_code
0  user_id  age  gender  occupation  zip_code
1        1   24       M  technician     85711
2        2   53       F       other     94043
3        3   23       M      writer     32067
4        4   24       M  technician     43537

In [6]:
# Check for non-numeric values in the "age" column
non_numeric_age = user_df[~user_df['age'].str.isnumeric()]

if not non_numeric_age.empty:
    # Print rows with non-numeric values in the "age" column
    print("Rows with non-numeric values in the 'age' column:")
    print(non_numeric_age)

    # Handle non-numeric values, e.g., convert them to NaN
    user_df['age'] = pd.to_numeric(user_df['age'], errors='coerce')

# Group the data by occupation and calculate the mean age
mean_age_per_occupation = user_df.groupby('occupation')['age'].mean()

# Display the mean age per occupation
print(mean_age_per_occupation)

Rows with non-numeric values in the 'age' column:
   user_id  age  gender  occupation  zip_code
0  user_id  age  gender  occupation  zip_code
occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
occupation             NaN
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [7]:
# Convert the "gender" column to numeric values (M: 1, F: 0)
user_df['gender_numeric'] = user_df['gender'].map({'M': 1, 'F': 0})

# Group the data by occupation and calculate the mean of the numeric "gender" values
male_ratio_per_occupation = user_df.groupby('occupation')['gender_numeric'].mean()

# Sort the results from the most to the least
male_ratio_per_occupation_sorted = male_ratio_per_occupation.sort_values(ascending=False)

# Display the male ratio per occupation sorted
print(male_ratio_per_occupation_sorted)

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
occupation            NaN
Name: gender_numeric, dtype: float64

In [8]:
# Convert the "age" column to numeric values (handling non-numeric values)
user_df['age'] = pd.to_numeric(user_df['age'], errors='coerce')

# Group the data by occupation and calculate the minimum and maximum ages
age_stats_per_occupation = user_df.groupby('occupation')['age'].agg(['min', 'max'])

# Display the minimum and maximum ages for each occupation
print(age_stats_per_occupation)

                min   max
occupation
administrator  21.0  70.0
artist         19.0  48.0
doctor         28.0  64.0
educator       23.0  63.0
engineer       22.0  70.0
entertainment  15.0  50.0
executive      22.0  69.0
healthcare     22.0  62.0
homemaker      20.0  50.0
lawyer         21.0  53.0
librarian      23.0  69.0
marketing      24.0  55.0
none           11.0  55.0
occupation      NaN   NaN
other          13.0  64.0
programmer     20.0  63.0
retired        51.0  73.0
salesman       18.0  66.0
scientist      23.0  55.0
student         7.0  42.0
technician     21.0  55.0
writer         18.0  60.0

In [9]:
# Convert the "age" column to numeric values (handling non-numeric values)
user_df['age'] = pd.to_numeric(user_df['age'], errors='coerce')

# Group the data by occupation and gender and calculate the mean age
mean_age_per_occupation_gender = user_df.groupby(['occupation', 'gender'])['age'].mean()

# Display the mean age for each combination of occupation and gender
print(mean_age_per_occupation_gender)

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
occupation     gender          NaN
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [11]:
# Calculate the total count of each gender per occupation
gender_counts_per_occupation = user_df.groupby(['occupation', 'gender']).size()

# Calculate the total count of each occupation
occupation_counts = user_df.groupby('occupation').size()

# Calculate the percentage of women and men for each occupation
gender_percentage_per_occupation = gender_counts_per_occupation / occupation_counts * 100

# Display the percentage of women and men for each occupation
print(gender_percentage_per_occupation)

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
occupation     gender    100.000000
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
dtype: float64