In [1]:
import pandas as pd

In [2]:
Occupation= pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')
Occupation

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

# Read the data into a DataFrame and set 'user_id' as the index
users = pd.read_csv(url, sep='|', header=None, names=['user_id', 'age', 'gender', 'occupation', 'zip_code'])
users.set_index('user_id', inplace=True)

# Now, 'users' is your DataFrame with 'user_id' as the index
print(users)

         age  gender     occupation  zip_code
user_id
user_id  age  gender     occupation  zip_code
1         24       M     technician     85711
2         53       F          other     94043
3         23       M         writer     32067
4         24       M     technician     43537
...      ...     ...            ...       ...
939       26       F        student     33319
940       32       M  administrator     02215
941       20       M        student     97229
942       48       F      librarian     78209
943       22       M        student     77841

[944 rows x 4 columns]

In [4]:
#See the first 25 entries

users.head(25)

         age  gender     occupation  zip_code
user_id
user_id  age  gender     occupation  zip_code
1         24       M     technician     85711
2         53       F          other     94043
3         23       M         writer     32067
4         24       M     technician     43537
5         33       F          other     15213
6         42       M      executive     98101
7         57       M  administrator     91344
8         36       M  administrator     05201
9         29       M        student     01002
10        53       M         lawyer     90703
11        39       F          other     30329
12        28       F          other     06405
13        47       M       educator     29206
14        45       M      scientist     55106
15        49       F       educator     97301
16        21       M  entertainment     10309
17        30       M     programmer     06355
18        35       F          other     37212
19        40       M      librarian     02138
20        42       F      homemaker     95660
21        26       M         writer     30068
22        25       M         writer     40206
23        30       F         artist     48197
24        21       F         artist     94533

In [5]:
#See the last 10 entries
last_10_entries = users.tail(10)
print(last_10_entries)

        age gender     occupation zip_code
user_id
934      61      M       engineer    22902
935      42      M         doctor    66221
936      24      M          other    32789
937      48      M       educator    98072
938      38      F     technician    55038
939      26      F        student    33319
940      32      M  administrator    02215
941      20      M        student    97229
942      48      F      librarian    78209
943      22      M        student    77841

In [6]:
#What is the number of observations in the dataset?
num_observations = users.shape[0]

print("Number of observations in the dataset:", num_observations)

Number of observations in the dataset: 944

In [7]:
# What is the number of columns in the dataset?
num_columns = users.shape[1]

print("Number of columns in the dataset:", num_columns)

Number of columns in the dataset: 4

In [8]:
#Print the name of all the columns.
column_names = users.columns
print("Column names:", column_names)

Column names: Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [9]:
#What is the data type of each column?
column_data_types = users.dtypes
print("Data types of each column:")
print(column_data_types)

Data types of each column:
age           object
gender        object
occupation    object
zip_code      object
dtype: object

In [10]:
#Print only the occupation column
print(users['occupation'])

user_id
user_id       occupation
1             technician
2                  other
3                 writer
4             technician
               ...
939              student
940        administrator
941              student
942            librarian
943              student
Name: occupation, Length: 944, dtype: object

In [11]:
#How many different occupations are in this dataset?
num_occupations = users['occupation'].nunique()
print("Number of different occupations:", num_occupations)

Number of different occupations: 22

In [12]:
#What is the most frequent occupation?
most_frequent_occupation = users['occupation'].value_counts().idxmax()

print("The most frequent occupation is:", most_frequent_occupation)

The most frequent occupation is: student

In [13]:
#Summarize the DataFrame.
summary = users.describe()
print(summary)

        age gender occupation zip_code
count   944    944        944      944
unique   62      3         22      796
top      30      M    student    55414
freq     39    670        196        9

In [14]:
 #Summarize all the columns
summary = users.describe(include='all')
print(summary)

        age gender occupation zip_code
count   944    944        944      944
unique   62      3         22      796
top      30      M    student    55414
freq     39    670        196        9

In [15]:
#Summarize only the occupation column
occupation_summary = users['occupation'].value_counts()
print(occupation_summary)

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
doctor             7
homemaker          7
occupation         1
Name: count, dtype: int64

In [16]:
#What is the mean age of users?
users['age'] = pd.to_numeric(users['age'], errors='coerce')

# Calculate the mean age, excluding NaN values
mean_age = users['age'].mean()

# Print the mean age
print("Mean age of users:", mean_age)

Mean age of users: 34.05196182396607

In [17]:
#What is the age with least occurrence?
age_counts = users['age'].value_counts()
age_with_least_occurrence = age_counts.idxmin()

# Print the age with the least occurrence
print("Age with the least occurrence:", age_with_least_occurrence)

Age with the least occurrence: 7.0