<a href="https://colab.research.google.com/github/MonaYounisGIS/AI_Tasks/blob/main/Regiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [5]:
# Create a DataFrame and assign it to the variable 'regiment'
regiment = pd.DataFrame(raw_data)

# Display the 'regiment' DataFrame
print(regiment)

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [6]:
# Filter rows where 'regiment' is 'Nighthawks'
nighthawks_data = regiment.loc[regiment['regiment'] == 'Nighthawks']

# Calculate the mean of the 'preTestScore' column for Nighthawks
mean_preTestScore_nighthawks = nighthawks_data['preTestScore'].mean()

# Display the result
print("Mean preTestScore for Nighthawks:", mean_preTestScore_nighthawks)

Mean preTestScore for Nighthawks: 15.25

In [7]:
# Group the data by 'company' and calculate general statistics
company_statistics = regiment.groupby('company').describe()

# Display the general statistics by company
print(company_statistics)

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

In [8]:

# Group the data by 'company' and calculate the mean of 'preTestScore'
mean_preTestScore_by_company = regiment.groupby('company')['preTestScore'].mean()

# Display the mean preTestScore for each company
print(mean_preTestScore_by_company)

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

In [9]:
# Group the data by 'regiment' and 'company' and calculate the mean of 'preTestScore'
mean_preTestScore_by_regiment_company = regiment.groupby(['regiment', 'company'])['preTestScore'].mean()

# Display the mean preTestScore for each regiment and company
print(mean_preTestScore_by_regiment_company)

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

In [10]:
# Group the data by 'regiment' and 'company' and calculate the mean of 'preTestScore'
mean_preTestScore_by_regiment_company = regiment.groupby(['regiment', 'company'])['preTestScore'].mean()

# Reset the index to flatten the result
mean_preTestScore_by_regiment_company = mean_preTestScore_by_regiment_company.reset_index()

# Display the mean preTestScore for each regiment and company without hierarchical indexing
print(mean_preTestScore_by_regiment_company)

     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

In [11]:
# Group the entire DataFrame by 'regiment' and 'company'
grouped_data = regiment.groupby(['regiment', 'company'])

# Display the groups
for group, data in grouped_data:
    print(f"Group: {group}")
    print(data)
    print("\n")

Group: ('Dragoons', '1st')
   regiment company   name  preTestScore  postTestScore
4  Dragoons     1st  Cooze             3             70
5  Dragoons     1st  Jacon             4             25


Group: ('Dragoons', '2nd')
   regiment company    name  preTestScore  postTestScore
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57


Group: ('Nighthawks', '1st')
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94


Group: ('Nighthawks', '2nd')
     regiment company    name  preTestScore  postTestScore
2  Nighthawks     2nd     Ali            31             57
3  Nighthawks     2nd  Milner             2             62


Group: ('Scouts', '1st')
  regiment company   name  preTestScore  postTestScore
8   Scouts     1st  Sloan             2             62
9   Scouts     1st  Piger             3             70


Group: ('Scouts', '2nd')
   regiment company   name  preTestScore  postTestScore
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70

In [12]:
# Group the data by 'regiment' and 'company' and calculate the number of observations
observations_count = regiment.groupby(['regiment', 'company']).size()

# Reset the index to flatten the result
observations_count = observations_count.reset_index(name='observations_count')

# Display the number of observations for each regiment and company
print(observations_count)

     regiment company  observations_count
0    Dragoons     1st                   2
1    Dragoons     2nd                   2
2  Nighthawks     1st                   2
3  Nighthawks     2nd                   2
4      Scouts     1st                   2
5      Scouts     2nd                   2

In [14]:
# Group the data by 'regiment' and 'company'
grouped_data = regiment.groupby(['regiment', 'company'])

# Iterate over groups and print the name and the whole data
for name, data in grouped_data:
    print(f"Group Name: {name}")
    print("Group Data:")
    print(data)
    print("\n")

Group Name: ('Dragoons', '1st')
Group Data:
   regiment company   name  preTestScore  postTestScore
4  Dragoons     1st  Cooze             3             70
5  Dragoons     1st  Jacon             4             25


Group Name: ('Dragoons', '2nd')
Group Data:
   regiment company    name  preTestScore  postTestScore
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57


Group Name: ('Nighthawks', '1st')
Group Data:
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94


Group Name: ('Nighthawks', '2nd')
Group Data:
     regiment company    name  preTestScore  postTestScore
2  Nighthawks     2nd     Ali            31             57
3  Nighthawks     2nd  Milner             2             62


Group Name: ('Scouts', '1st')
Group Data:
  regiment company   name  preTestScore  postTestScore
8   Scouts     1st  Sloan             2             62
9   Scouts     1st  Piger             3             70


Group Name: ('Scouts', '2nd')
Group Data:
   regiment company   name  preTestScore  postTestScore
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70