<a href="https://colab.research.google.com/github/MonaYounisGIS/AI_Tasks/blob/main/Students_Alcohol_Consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:

# URL for the student-mat dataset
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"

# Read the dataset into a DataFrame and assign it to the variable 'df'
df = pd.read_csv(url)

# Display the first few rows of the DataFrame
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [4]:
# Slice the DataFrame from 'school' until 'guardian' columns
df_sliced = df.loc[:, 'school':'guardian']

# Display the sliced DataFrame
print(df_sliced.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher
1     GP   F   17       U     GT3       T     1     1  at_home     other
2     GP   F   15       U     LE3       T     1     1  at_home     other
3     GP   F   15       U     GT3       T     4     2   health  services
4     GP   F   16       U     GT3       T     3     3    other     other

   reason guardian
0  course   mother
1  course   father
2   other   mother
3    home   mother
4    home   father

In [5]:
capitalize_string = lambda x: x.capitalize()

# Test the lambda function
example_string = "hello"
capitalized_result = capitalize_string(example_string)

print(f"Original string: {example_string}")
print(f"Capitalized result: {capitalized_result}")

Original string: hello
Capitalized result: Hello

In [6]:

# Create a lambda function to capitalize strings
capitalize_string = lambda x: x.capitalize() if isinstance(x, str) else x

# Apply the lambda function to 'Mjob' and 'Fjob' columns using applymap
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].applymap(capitalize_string)

# Display the updated DataFrame
print(df[['Mjob', 'Fjob']].head())

      Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

In [7]:
# Display the last elements of the dataset
print(df.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[5 rows x 33 columns]

In [8]:

# Create a lambda function to capitalize strings
capitalize_string = lambda x: x.capitalize() if isinstance(x, str) else x

# Apply the lambda function and update the 'Mjob' and 'Fjob' columns
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].applymap(capitalize_string)

# Display the updated DataFrame
print(df[['Mjob', 'Fjob']].head())

      Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

In [9]:

# Create a function to determine if a person is older than 17
def majority(age):
    return age > 17

# Apply the majority function to create a new column 'legal_drinker'
df['legal_drinker'] = df['age'].apply(majority)

# Display the updated DataFrame with the new 'legal_drinker' column
print(df[['age', 'legal_drinker']].head())

   age  legal_drinker
0   18           True
1   17          False
2   15          False
3   15          False
4   16          False

In [10]:
# Create a function to multiply a number by 10
multiply_by_10 = lambda x: x * 10 if isinstance(x, (int, float)) else x

# Apply the function to every element in the DataFrame
df = df.applymap(multiply_by_10)

# Display the updated DataFrame
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F  180       U     GT3       A    40    40  At_home   Teacher  ...
1     GP   F  170       U     GT3       T    10    10  At_home     Other  ...
2     GP   F  150       U     LE3       T    10    10  At_home     Other  ...
3     GP   F  150       U     GT3       T    40    20   Health  Services  ...
4     GP   F  160       U     GT3       T    30    30    Other     Other  ...

  freetime goout  Dalc  Walc  health absences   G1   G2   G3 legal_drinker
0       30    40    10    10      30       60   50   60   60            10
1       30    30    10    10      30       40   50   50   60             0
2       30    20    20    30      30      100   70   80  100             0
3       20    20    10    10      50       20  150  140  150             0
4       30    20    10    20      50       40   60  100  100             0

[5 rows x 34 columns]